<%- include('./partials/header') %>

<main class="main">
  <!-- ----- Carrousel ----- -->
  <div class="slider">
    <div class="img_slider div1"></div>
    <div class="img_slider div2"></div>
    <div class="img_slider div3"></div>
    <div class="img_slider div4"></div>
    <div class="img_slider div5"></div>
    <div class="img_slider div6"></div>
    <div class="img_slider div7"></div>
    <div class="img_slider div8"></div>
    <div class="img_slider div9"></div>
    <div class="img_slider div10"></div>
    <div class="img_slider div11"></div>
    <div class="img_slider div12"></div>
    <div class="img_slider div13"></div>
    <div class="img_slider div14"></div>
  </div>

  <section class="main__news-section">
    <!-- ----- div pour les prochaines dates ----- -->
    <div class="main__news-section-container">
      <h2 class="main__news-section-title">Prochaines Dates</h2>
      <div class="main__news-section-date-container">
        <h2 class="date-title">Le 26 Mars 2022</h2>
        <p class="main__news-section-date-content">
          A l'
          <span class="place_date"
            ><a
              href="https://www.facebook.com/electriccostudio/"
              class="main__news-section-date-content-link"
              target="_blank"
              rel="noopener"
              >Electric & Co. Studio</a
            ></span
          >
        </p>
        <p class="main__news-section-group-content">
          Concert exceptionnel avec
          <a
            href="https://www.the-sinners.com/"
            class="main__news-section-date-content-link"
            target="_blank"
            rel="noopener"
            >The Sinners</a
          >
        </p>
        <iframe
          class="googlemap-div"
          title="GoogleMap API"
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2913.0118015225435!2d6.138953415862426!3d43.104266879144014!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12c923a0ca98cb07%3A0xe3a120c85d503100!2sElectric%20Co.%20Studio!5e0!3m2!1sfr!2sfr!4v1641368928353!5m2!1sfr!2sfr"
          allowfullscreen=""
          loading="lazy"
        ></iframe>
      </div>
    </div>
    <div class="fb-container">
      <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2FRockInVar%2F&tabs=timeline&width=380&height=500&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=false&appId=617704672795993" width="380" height="500" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>
    </div>
  </section>

  <%- include('./partials/footer') %>
