<%- include('./partials/header') %>

<main class="main">
  <h2 class="main__title">Dernière vidéo</h2>
  <section class="main__section-video">
    <iframe
      class="video"
      width="1000"
      height="500"
      src="https://www.youtube-nocookie.com/embed/x2zLKjtmlBw?start=15"
      title="YouTube video player"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen
    ></iframe>
  </section>

  <%- include('./partials/footer') %>

